.web {
    display: flex;
    flex:1;
    align-items: center;
}

.web-option {
    font-size: 20px;
    margin-right: 16px;
    font-weight: 700;
}

.web-option a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    transition: color 0.3s ease-in;
}

.web-option a:hover {
    color: rgb(109, 107, 107);
}

.option-icon {
    display: flex;
    align-items: center;
    margin-right: 4px;
}

.web-option:last-child {
    margin-right: 0px;
}